@model List<proyectofinal.Models.prestamos>

@{
    ViewData["titulo"] = "pagina de inicio";
}


<h1 class="text-info">informe de prestamos</h1>

<div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Cedula
                </th>
                <th>
                    Direccion
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Fecha de prestamo
                </th>
                 <th>
                     Monto
                </th>
                 <th>
                     Interes
                </th>
                 <th>
                     Plazo
                </th>
                 <th>
                     Monto Pagado
                </th>

            </tr>
        </thead>
        <tbody>
            @{ 
                foreach (var item in Model)
                {
                    <tr>
                        <td class="alert-success">@item.Nombre</td>
                        <td class="alert-success">@item.Apellido</td>
                        <td class="alert-success">@item.Cedula</td>
                        <td class="alert-success">@item.Direccion</td>
                        <td class="alert-success">@item.Telefono</td>
                        <td class="alert-success">@item.Fecha_de_Prestamo</td>
                        <td class="alert-success">@item.Monto</td>
                        <td class="alert-success">@item.Interes</td>
                        <td class="alert-success">@item.Plazo</td>
                        <td class="alert-success">@item.Edad</td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>

<div>
    <a class="btn btn-success" href="../Home/ingresodatos" >Registro</a>
</div>

<hr />

@DateTime.Now.ToShortDateString()
